body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any desired height */
  background-image: url("../images/home.jpg"); /* Relative path from the CSS file to the image */
  background-size: cover;
  background-position: center;
}
.container {
  border-radius: 20px;
  display: inline-block;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(10px);
}
.submitArea {
  display: flex;
  justify-content: right;
}
.submit {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(10px);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.submit:hover,
.dropdown:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.193);
}
.dropdown {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}
option {
  background-color: transparent;
}
.input {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(10px);
}
