body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any desired height */
  background-image: url("../images/home.jpg"); /* Relative path from the CSS file to the image */
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;

  border-radius: 20px;
  display: inline-block;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(10px);
}
p {
  font-size: 110%;
  margin: 0px, 0px, 1px, 0px;
}
.info {
  border-radius: 20px;
  display: inline-block;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.022);
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(10px);
}
.percent {
  margin: 0px;
  font-size: 150%;
}
.infoTitle {
  margin: 0px;
}
