<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Drop-down Menu</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="info">
        <h1 class="title">Select an option</h1>
        <p class="option1">1. Top 10 tracks of artists</p>
        <p class="option2">2. Playlist compare</p>
      </div>

      <form action="/submit" method="post">
        <label for="options">Choose an option:</label>
        <select class="dropdown" name="options" id="options">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
        </select>
        <br /><br />
        <div class="submitArea">
          <input class="submit" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
