<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Playlists</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/playlist_display.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <p>Total Similar Tracks: {{ total_similar }}</p>
      <p>Total Tracks: {{ total }}</p>
      <div class="info">
        <p class="infoTitle">Similarity Percentage:</p>
        <p class="percent">{{similar_percentage}} %</p>
      </div>
    </div>
  </body>
</html>
